.feynman__title{
    margin-top: 100px;
    margin-bottom: 0;
    display: flex;
    max-width: max-content;
    text-align: center;
    width: 648px;
    line-height: 1.15;
    font-weight:bold;
    font-size: 120px;
    z-index: 1;
 }